<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Title</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'style.css' %}">
   </head>
   <body>
      <h1 class="mainTitle">BILLBOARD</h1>
      {% if not display_board%}
      <div class="noMessage">
         <p>No messages...</p>
         <p>Click the '+' button to add a new message</p>
      </div>
      {% endif %}
      {% for item in display_board%}
      <fieldset class="box mx-auto">
         <legend class="dateBox">{{item.date}}</legend>
         <h1 class="title">{{item.title}}</h1>
         <p class="text">{{item.text}}</p>
         <p class="author col-1 offset-11"> {{item.author}}</p>
      </fieldset>
      {% endfor %}
      <div id="form">
         <fieldset class="myForm mx-auto">
            <legend class="dateBox">{{date}}</legend>
            <form method="post" action="">
               {% csrf_token %}
               <div>
                  <input type="text" placeholder="Title" name="title" id="titleInput">
               </div>
               <div>
                  <textarea type="text" placeholder="Description" name="description" id="descInput"> </textarea>
               </div>
               <div>
                  <input type="text" placeholder="Author" name="author" id="authorInput">
               </div>
         </fieldset>
         <div class="addText mx-auto">
         <button type="button" class="btn cancelButton"><i class="fas fa-times"></i></button>
         <button type="submit" class="btn sendButton"><i class="fas fa-check"></i></button>
         </div>
         </form>
      </div>
      <div class="addText mx-auto" id="displayForm">
         <button type="button" class="btn plusButton"><i class="fas fa-plus"></i></button>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script src="{% static 'script.js' %}"></script>
   </body>
</html>